@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    background-color: blue;
    
}
section {
    height: 100vh;
}
.div1{
    margin-left: 100px;
    margin-top: 42px;
    background-color: white;
    width: 35px;
    height: 37px;  
}
.div2{
    background-color:#00235C ;
    width: 129px;
    height: 37px;
    margin-left: 135px;
    margin-top: -55px;
}


.texto1_alinhado{
    font-family: 'Inter';
    font-style: normal;
    font-size: 12,69px;
    font-weight: 800;
    margin-left: 145px;
    margin-top: -32px;
    color: white;
}
.texto2_alinhado{
    margin-top: -45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    margin-left: 413px;
    color:white;


}
.texto3_alinhado{

    font-family:'Inter';
    font-style: normal ;
    font-size: 16px;
    font-weight: 500;
    margin-left: 600px;
    margin-top: -36px;
    color:white;
    
}

.texto4_alinhado{

    font-family:'Inter';
    font-style: normal ;
    font-size: 16px;
    font-weight: 500;
    margin-top: -45px; 
    margin-left: 730px;
    margin-top: -37px;
    color:white;
    
}
.texto5_alinhado{

    font-family:'Inter';
    font-style: normal ;
    font-size: 16px;
    font-weight: 500;
    margin-top: -45px; 
    margin-left: 900px;
    margin-top: -37px;
    color:white;
    
}
.texto_login{

    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color:#116CFF;
    margin-left: 1130px;
    margin-top: -50px;
}

.texto6_titulo{

    margin-left:100px ;
    font-family: 'Inter';
    font-style: normal;
    font-size:50px ;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 134px;
}
.texto6_titulo2{

    margin-left:100px ;
    font-family: 'Inter';
    font-style: normal;
    font-size:50px ;
    font-weight: 800;
    color: #FFFFFF;
    
}

.texto_conteudo{
    margin-left:100px ;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;

}

.texto_conteudo2{
    margin-left:100px ;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top:10px ;

}

.texto_botao{

    font-family: 'Inter';
    font-style: normal;
    font-size:20px;
    font-weight: 700;
    color: #116CFF;
    margin-left: 130px;
    margin-top: -60px;

}

.textobloco_transparente{

    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    margin-left: 450px;
    margin-top: -60px;
    color:#FFFFFF;


}

.blocobranco{
    position: static;
    width: 104px;
    height: 39px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 1100px;
    margin-top: -45px;

}
.blocobranco2{
    position: static;
    width: 200px;
    height: 52px;
    left: 100px;
    top: 477px; 
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 40px;



}

.bloco_transparente{

    position: static;
    width: 200px;
    height: 52px;
    left: 324px;
    top: 477px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: -57px;


}
.retangulo{
margin-left: 50px;
margin-top: 15px;
position: absolute;
width: 423px;
height: 395px;
left: 748px;
top: 166px;
background: #FFFFFF;
border-radius: 20px;

}

.imagem_garoto{

margin-left: 630px;
margin-top: -400px;

}




h1 {

    margin-left: 600px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #00235C;
    
    
    }
p{
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    color:#00235C;
    margin-left: 110px;
    margin-top: -30px;
}

.fundobranco{

    background-color: white;
    width: 1351px;
    margin-left: -10px;
   
    
}
.fundobranco3{

    background-color: white;
    width: 1351px;
    margin-left: -10px;
    margin-top: 350px;
   
    
}

.texto1_sesao2{

 margin-top: -450px;

}



.texto2_sesao2{

    font-family: "Inter";
    margin-left: 600px;
    margin-top: 10px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #00235C;  

}
.img2sesao3{

margin-top: px;
margin-left: 700px;

}

.titulosesao3{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
color: #FFFFFF;
margin-top: -450px;
margin-left: 50px;
}
.titulo2sesao3_alinhado{
margin-top: -40px;
margin-left: 50px;
color: #FFFFFF;
font-size: 48px;
}
.titulo3sesao3_alinhado{
    margin-top: -50px;
    margin-left: 50px;
    color: #FFFFFF;
    font-size: 48px;
    }

.conteudo_sesao3{

font-family: 'Inter';
font-style: normal;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
margin-left: 50px;
margin-top: 20px;
}

.titulo_sesao4{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #116CFF;
    margin-left: 101px;
    margin-top: -600px;
}

.eleanor{
  margin-left: 101px;
  margin-top: 50px;
  position: absolute;
}
.jane{
    margin-left: 101px;
    margin-top: 300px;
    position: absolute;
}
.cameron{
position: absolute;
margin-left: 1240px;
margin-top: 50px;

}

.jenny{
    position: absolute;
    margin-left: 1240px;
    margin-top: 300px;
    
    }

.bloco_eleanor{
    position: absolute;
    position: static;
    width: 440px;
    height: 189px;
    left: 723px;
    top: 162px;
    background: #E7F0FF;
    border-radius: 20px;
    margin-left: 220px;
    margin-top: 90px;
    
}
.bloco_jane{

    position: absolute;
    width: 440px;
    height: 189px;
    left: 723px;
    top: 162px;
    background: #FFE6E5;
    border-radius: 20px;
    margin-left: -495px;
    margin-top: 2290px;
    
}

.poligonoeleanor{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 40.98px;
    top: 36px;
    background: #E7F0FF;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
    margin-top: 2200px;
    margin-left: 180px;
}

.poligonojane{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 40.98px;
    top: 36px;
    background: #FFE6E5;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
    margin-top: 2450px;
    margin-left: 180px;
}

.poligonocameron{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 40.98px;
    top: 36px;
    background: #FFE6E5;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
    margin-top: 2200px;
    margin-left: 1130px;
}




.bloco_cameron{

    position: absolute;
    width: 440px;
    height: 189px;
    left: 723px;
    top: 162px;
    background: #FFE6E5;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 2040px;
    
}


.bloco_jenny{

    position: absolute;
    width: 440px;
    height: 189px;
    left: 723px;
    top: 162px;
    background: #E7F0FF;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 2290px;
    
}
.poligonojenny{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 40.98px;
    top: 36px;
    background: #E7F0FF;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
    margin-top: 2450px;
    margin-left: 1130px;
}

.nome_eleanor{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color:#00235C;
    margin-left: 250px;
    margin-top: -190px;
}

.nome_cameron{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color:#00235C;
    margin-left: 770px;
    margin-top: -175px;
}

.nome_jane{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color:#00235C;
    margin-left: 250px;
    margin-top: 80px;
}
.nome_jenny{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color:#00235C;
    margin-left: 770px;
    margin-top: 75px;
}

.paragrafo1_sesao4{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-left: 400px;
    margin-top: -45px;

}
.paragrafo2_sesao4{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 270px;
    margin-top: -60px;
}

.paragrafo3_sesao4{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 270px;
    margin-top: -10px;
}

.paragrafo4_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-left: 990px;
    margin-top: -175px;
}
.paragrafo5_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 790px;
    margin-top: -85px;
}
.paragrafo6_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 790px;
    margin-top: -62px;
}

.paragrafo7_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-left: 400px;
    margin-top: 80px;

}
.paragrafo8_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 270px;
    margin-top: 165px;
}
.paragrafo9_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 270px;
    margin-top: 190px;
}

.paragrafo10_sesao4{
   
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    margin-left: 930px;
    margin-top: 75px;


}

.paragrafo11_sesao4{
   
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 790px;
    margin-top: 160px;

}

.paragrafo12_sesao4{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 790px;
    margin-top: 190px;
}

.estrela1_eleanor{

position: absolute;
margin-left: 250px;


}
.estrela2_eleanor{

    position: absolute;
    margin-left: 270px;
    
}
   
 .estrela3_eleanor{

        position: absolute;
        margin-left: 290px;
        
        
}
.estrela4_eleanor{

    position: absolute;
    margin-left: 310px;
    
}

.estrela5_eleanor{

    position: absolute;
    margin-left: 330px;
    
}

.estrela1_cameron{
    position: absolute;
    margin-left: 770px;
    margin-top: -127px;

}

.estrela2_cameron{
    position: absolute;
    margin-left: 790px;
    margin-top: -127px;


}
.estrela3_cameron{
    position: absolute;
    margin-left: 810px;
    margin-top: -127px;


}
.estrela4_cameron{
    position: absolute;
    margin-left: 830px;
    margin-top: -127px;


}
.estrela5_cameron{
    position: absolute;
    margin-left: 850px;
    margin-top: -127px;


}

.estrela1_jane{
  position: absolute;
  margin-left: 250px;
  margin-top: 125px;
}
.estrela2_jane{
    position: absolute;
    margin-left: 270px;
    margin-top: 125px;
  }

  .estrela3_jane{
    position: absolute;
    margin-left: 290px;
    margin-top: 125px;
  }
  .estrela4_jane{
    position: absolute;
    margin-left: 310px;
    margin-top: 125px;
  }

  .estrela5_jane{
    position: absolute;
    margin-left: 330px;
    margin-top: 125px;
  }

  .estrela1_jenny{
    position: absolute;
    margin-left: 770px;
    margin-top: 125px;
  }

  .estrela2_jenny{
    position: absolute;
    margin-left: 790px;
    margin-top: 125px;
  }

  .estrela3_jenny{
    position: absolute;
    margin-left: 810px;
    margin-top: 125px;
  }

  .estrela4_jenny{
    position: absolute;
    margin-left: 830px;
    margin-top: 125px;
  }

  .estrela5_jenny{
    position: absolute;
    margin-left: 850px;
    margin-top: 125px;
  }


.aspas1_eleanor{

    margin-left: 250px;
    margin-top: 50px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}

.aspas2_eleanor{

    margin-left: 390px;
    margin-top: -45px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}

.aspas1_cameron{
    position: absolute;
    margin-left: 770px;
    margin-top: -100px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}

.aspas2_cameron{
    position: absolute;
    margin-left: 910px;
    margin-top: -70px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;


}
.aspas1_jane{
    position: absolute;
    margin-left: 250px;
    margin-top: 150px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}
.aspas2_jane{
    position: absolute;
    margin-left: 390px;
    margin-top: 183px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}

.aspas1_jenny{
    position: absolute;
    margin-left: 770px;
    margin-top: 150px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}

.aspas2_jenny{
    position: absolute;
    margin-left: 910px;
    margin-top: 183px;
    color: #FF463A;
    font-family: 'Inter';
    font-size: 32px ;
    font-style: normal;
    font-weight: 400;
}

/*Sesao 5*/


.ourclass{
position: absolute;
font-family: 'Inter';
font-style: normal;
font-size: 36px;
font-weight: 700;  
color: #E7F0FF;
margin-top: 400px; 
    
}

.div1_sesao5{
    position: absolute;
    width: 1166px;
    height: 115px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0px 0px;
    margin-top: 500px;
}
.beginner{
   position: absolute;
   font-family: 'Inter';
   font-style: normal;
   font-size: 20px;
   font-weight: 700;
   margin-top: 510px;
   margin-left: 130px;

}
.estrela1_tabela{
    position: absolute;
    margin-left: 130px;
    margin-top: 540px;
  }
  .estrela2_tabela{
    position: absolute;
    margin-left: 150px;
    margin-top: 540px;
  }
  .estrela3_tabela{
    position: absolute;
    margin-left: 170px;
    margin-top: 540px;
  }
  .estrela3_tabela{
    position: absolute;
    margin-left: 170px;
    margin-top: 540px;
  }
  .estrela4_tabela{
    position: absolute;
    margin-left: 190px;
    margin-top: 540px;
  }
  .estrela5_tabela{
    position: absolute;
    margin-left: 210px;
    margin-top: 540px;
  }
  .vector{
 position: absolute;
 margin-top: 515px;
 margin-left: 560px;

  }
  .relogio{
    position: absolute;
    margin-top: 513px;
    margin-left: 720px;
   
     }
  .texto_month {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 515px;
    margin-left: 590px;
    color: #00235C;


  } 
  .texto_6meet {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 515px;
    margin-left: 750px;
    color: #00235C;
  } 

  .people{
    position: absolute;
    margin-top: 560px;
    margin-left: 560px;
   
     }
.texto_8kids{
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     position: absolute;
     margin-top: 560px;
     margin-left: 590px;
       
}
.note{
    position: absolute;
    margin-top: 565px;
    margin-left: 720px;
   
}

     .online {
        position: absolute;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-top: 562px;
        margin-left: 750px;
        color: #00235C;
      } 
.bloco_azul{

    position: absolute;
    width: 135px;
    height: 50px;
    background: #116CFF;
    border-radius: 10px;
    margin-top: 530px;
   margin-left: 1120px;
}

.detailclass{

    font-family: 'Inter';
    font-style: normal; 
    font-weight: 600;
    font-size: 20px;
    color:  #FFFFFF;;
    margin-top: 542px;
    margin-left: 1130px;
    position: absolute;
}
.divtabela{
    position: absolute;
    background-color: #FFFFFF;
    width: 1166px;
    height: 64px;
    margin-top: 616px;
    margin-left: 110px;
}
.div2tabela{
    position: absolute;
    background-color: #FFFFFF;
    width: 1166px;
    height: 64px;
    margin-top: 681px;
    margin-left: 110px;
}
.div3tabela{
    position: absolute;
    background-color: #FFFFFF;
    width: 1166px;
    height: 64px;
    margin-top: 746px;
    margin-left: 110px;
}
.div4tabela{
    position: absolute;
    background-color: #FFFFFF;
    width: 1166px;
    height: 64px;
    margin-top:811px;
    margin-left: 110px;
}
.intermediate{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 50px;
    color: #116CFF;
}
.estrela1_div2{
    position: absolute;
    margin-left: 500px;
    margin-top: -40px;

}
.estrela2_div2{
    position: absolute;
    margin-left: 520px;
    margin-top: -40px;

}
.estrela3_div2{
    position: absolute;
    margin-left: 540px;
    margin-top: -40px;

}
.estrela4_div2{
    position: absolute;
    margin-left: 560px;
    margin-top: -40px;

}

.estrela5_div2{
    position: absolute;
    margin-left: 580px;
    margin-top: -40px;

}

.estrela1_div3{
    position: absolute;
    margin-left: 500px;
    margin-top: -40px;

}

.estrela2_div3{
    position: absolute;
    margin-left: 520px;
    margin-top: -40px;

}
.estrela3_div3{
    position: absolute;
    margin-left: 540px;
    margin-top: -40px;

}
.estrela4_div3{
    position: absolute;
    margin-left: 560px;
    margin-top: -40px;

}
.estrela1_div4{
    position: absolute;
    margin-left: 500px;
    margin-top: -40px;

}
.estrela2_div4{
    position: absolute;
    margin-left: 520px;
    margin-top: -40px;

}
.estrela3_div4{
    position: absolute;
    margin-left: 540px;
    margin-top: -40px;

}
.estrela4_div4{
    position: absolute;
    margin-left: 560px;
    margin-top: -40px;

}
.estrela5_div4{
    position: absolute;
    margin-left: 580px;
    margin-top: -40px;

}

.estrelateste_div2{
    position: absolute;
    margin-left: 580px;
    margin-top: 900px;

}
.texto_2500{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin-left: 1060px;
    margin-top: -40px;
    color: #00235C;

}

.expert{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 50px;
    color: #116CFF;
}

.free{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 50px;
    color: #116CFF;
}
.freecolor{
  
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin-left: 1060px;
    margin-top: -40px;
    color: #FF463A;
}

.texto_2900{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin-left: 1060px;
    margin-top: -40px;
    color: #00235C;

}
.check{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 50px;
    color: #116CFF;
}

.enfeite1{

    position: absolute;
    margin-left: 387px;
}
.enfeitemenor{

    position: absolute;
    margin-left: 900px;
    margin-top: 100px;
}


.ready{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #00235C;
    margin-left: 470px;
    margin-top: 60px;
}
.journey{

    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #00235C;
    margin-left: 600px;
    margin-top: 110px;
}

.email{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #00235C;
    margin-left: 410px;
    margin-top: 194px;

}

.parents{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #00235C;
    margin-left: 410px;
    margin-top: 257px;
    

}

.kidsname{
   
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #00235C;
    margin-left: 410px;
    margin-top: 320px;


}
.class{
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #00235C;
margin-left: 410px;
margin-top: 383px;

}


.retangulo{
    margin-top: 3420px;
    margin-left: -170px;
    position: absolute;
    width: 394px;
    height: 52px;

}
.retangulo2{
    margin-top:240px;
    margin-left: 579px;
    position: absolute;
    width: 394px;
    height: 52px;

}
.retangulo3{
    margin-top:300px;
    margin-left: 579px;
    position: absolute;
    width: 394px;
    height: 52px;

}

.retangulo4{
    margin-top:365px;
    margin-left: 579px;
    position: absolute;
    width: 394px;
    height: 52px;

}

.imgretangulo{
    position: absolute;
    width: 200px;
    height: 52px;
    background: #116CFF;
    border-radius: 10px;
    margin-top:440px ;
    margin-left: 770px;

}
.register{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 830px;
    margin-top: 455px;

}

.fone{

 position: absolute;
 margin-left: 1200px;
 margin-top: 300px;

}
.circulo{
position: absolute;
margin-top: 270px;
margin-left: 1170px;

}
.bordalaranja{

    position: absolute;
    margin-top: 330px;
    margin-left: 1145px;

}

.div3{
    position: absolute;
    background-color:#00235C ;
    width: 1351px;
    height: 471px;
    margin-top: 647px;
}
.text_2972{

position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
color:#FFFFFF;
margin-left: 100px;
margin-top: 42px;

}

.coding{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 120px;

}

.instagram{

position: absolute;
margin-left: 100px;
margin-top: 20px;

}
.youtube{

    position: absolute;
    margin-left: 160px;
    margin-top: 21px;

}

.facebook{

    position: absolute;
    margin-left: 220px;
    margin-top: 19px;


}
.google{

    position: absolute;
    margin-left: 280px;
    margin-top: 19px;


}
.company{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #116CFF;
    margin-top: -180px;
    margin-left: 600px ;

}

.about{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: -130px;
    margin-left: 600px ;

}
.contact{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 600px ;
}

.faq{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 600px ;

}

.ourclasstext{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #116CFF;
    margin-top: -185px;
    margin-left: 760px ;

}

.beginnertext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: -135px;
    margin-left: 760px ;

}

.intermediatetext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 760px ;
}

.experttext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 760px ;
}

.informationtext{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #116CFF;
    margin-top: -185px;
    margin-left: 980px ;

}
.registrationtext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: -135px;
    margin-left: 980px ;

}
.freetrialtext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 980px ;
}

.teachertext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 980px ;
}

.ouractivity{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #116CFF;
    margin-top: -185px;
    margin-left: 1170px ;

}
.galerytext{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: -135px;
    margin-left: 1170px ;

}